# Flask Framework
Flask

# Flask Packages
Flask-Assets
Flask-Cache
flask-DebugToolbar
Flask-SQLAlchemy
Flask-User
Flask-Script
Flask-WTF

# Development tools
pytest
pytest-cov
mccabe
flake8

# Minification
cssmin
jsmin

# Payments
stripe
